<div class="main_component">
    <div class="div-flex">
        <h1>Sign up</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div><label for="email">Email: </label><input type="email" formControlName="email" /></div>
            <div><label for="password">Password: </label><input type="password" formControlName="password" /></div>
            <div><label for="confPassword">Confirm Password: </label><input type="password" formControlName="confPassword" /></div>
            <div formGroupName="name">
                <div><label for="forename">Forename: </label><input type="text" formControlName="forename" /></div>
                <div><label for="surname">Surname: </label><input type="text" formControlName="surname" /></div>
            </div>
            <div>
                <button type="submit">Sign up</button>
                <button (click)="goBack()">Back</button>
            </div>
        </form>
    </div>
</div>